<script type="text/html" id="running-externaladd-template">
  <div class="running-operation-container">
    <div class="running-header">
      <span class="running-operation-name">EXTERNAL ADD</span>
      <div data-bind="click: continueSequence, visible: continueRequired() && !continueRequiredSet()" class="running-override-timer-button">Continue</div>
    </div>

	<div class="running-message-block">
	<ul class="running-message-list external-message-list">
	  <li>
	  <span class="running-info-status" data-bind="visible: !continueRequired(), text: readings.operation_status.message"></span>
	  <span class="running-info" data-bind="visible: continueRequired()"> Deliver <span class="running-em" data-bind="text: currentOperationData().reagentname"></span>
	  through the external addition line. Press "Continue" when finished.</span>
	  </li>
	  <li>
	  <span class="user-message" data-bind="text: currentOperationData().message"></span>
	  </li>
	 </ul>
	</div>

	<div class="running-container">
	<div class="cameras-container">
	    <div class="running-camera camera-1">
      <div class="running-camera-label"><!--ko text: videoLabelLeft--><!--/ko--></div>
	  <div class="running-camera-refresh" data-bind="click: reloadLeftVideo"></div>
      <video class="running-video" id="externaladdvideo-left" src="" data-bind="style: { left: videoLeftPosition() }" width="514" height="385" autoplay>
        Your browser cannot play this video.
      </video>
    </div>
	<div class="clear"></div>
	</div>
	
    <div class="running-readings-container">
      <div class="running-readings-row">
	   <div class="running-readings-label" data-bind="text:'Activity ' + (readings.sourceReactor()+1)"></div>
        <div class="running-readings-value running-readings-small-text">
          <!--ko text: readings.activity1.reactor--><!--/ko-->
          /
          <!--ko text: readings.activity1.cartridgeA--><!--/ko-->
          /
          <!--ko text: readings.activity1.cartridgeB--><!--/ko-->
        </div>
      </div>
      <div class="running-readings-sublabel">Reactor / Cartridge A / B</div>
    </div>
   </div>
  </div>
</script>
