<script type="text/html" id="running-prompt-template">
  <div class="running-operation-container">
    <div class="running-header">
      <span class="running-operation-name">PROMPT</span>
      <span data-bind="if: timeRemaining()">
        <span class="running-operation-timer" data-bind="text: operationTimer"></span>
      </span>
      <div class="running-override-timer-button" data-bind="visible: continueRequired(), click: continueSequence">Continue</div>
    </div>
	<div class="running-message-block">
	  <ul class="running-message-list prompt-message-list">
	    <li>
	    <span class="running-info-status" data-bind="text: readings.operation_status.message"></span>
	    </li>
	    <li>
	    <span class="user-message" data-bind="text: currentOperationData().message"></span>
	    </li>
	  </ul>
	</div>
	<div class="running-container">
	</div>
  </div>
</script>