<script type="text/html" id="running-trapisotope-template">
  <div class="running-operation-container">
    <div class="running-header">
      <span class="running-operation-name">TRAP:</span>
      <span class="running-operation-timer" data-bind="visible: currentOperationData().activitysource!=='external', text: operationTimer"></span>
      <div data-bind="visible: !timerOverridden() && timerOverrideReady(), click: overrideTimer" class="running-override-timer-button">Override Timer</div>
      <div class="running-override-timer-button" data-bind="visible: timerOverridden() || continueRequired(), click: continueSequence">Continue</div>
    </div>

	<div class="running-message-block">
	<ul class="running-message-list">
	  <li>
      </li>
	  <li>
	  <span class="running-info-status" data-bind="text: readings.operation_status.message"></span>
	  </li>
	  <li>
	  <span class="user-message" data-bind="text: currentOperationData().message"></span>
	  </li>
	 </ul>
	</div>

	<div class="running-container">
	<div class="cameras-container">
	    <div class="running-camera camera-1">
      <div class="running-camera-label"><!--ko text: videoLabelLeft--><!--/ko--></div>
	  <div class="running-camera-refresh" data-bind="click: reloadLeftVideo"></div>
      <video class="running-video" id="trapisotopevideo-left" src="" data-bind="style: { left: videoLeftPosition() }" width="514" height="385" autoplay>
        Your browser cannot play this video.
      </video>
	  </div>
	 <div class="clear"></div>
	 </div>

	<div class="running-readings-container">
	      <div class="running-readings-row">
		   <div class="running-readings-label">Pressure</div>
	        <div data-bind="visible: (!timerOverridden() && !continueRequired()) || currentOperationData().activitysource==='external' " class="running-readings-value running-readings-large-text">
	          <!--ko text: readings.pressure.current--><!--/ko-->
	          /
	          <!--ko text: readings.pressure.target--><!--/ko-->
	          <span class="small">psi</span>
	        </div>
	        <div data-bind="visible: (timerOverridden() || continueRequired()) && currentOperationData().activitysource!=='external' " class="running-readings-pressure">
	          <input type="button" data-bind="click: decPressure, enable: decPressureEnabled"/>
	          <input type="button" data-bind="click: incPressure, enable: incPressureEnabled"/>
	        </div>
	        <div data-bind="visible: (timerOverridden() || continueRequired()) && currentOperationData().activitysource!=='external'" class="running-readings-value reduced running-readings-large-text">
	          <!--ko text: readings.pressure.current--><!--/ko-->
	          /
	          <!--ko text: readings.pressure.target--><!--/ko-->
	          <span class="small">psi</span>
	        </div>
	      </div>
	      <div class="running-readings-sublabel">Current / Target</div>

	      <div class="running-readings-row">
		   <div class="running-readings-label" data-bind="text:'Activity ' + (readings.sourceReactor()+1)"></div>
	        <div class="running-readings-value running-readings-small-text">
	          <!--ko text: readings.activity1.reactor--><!--/ko-->
	          /
	          <!--ko text: readings.activity1.cartridgeA--><!--/ko-->
	          /
	          <!--ko text: readings.activity1.cartridgeB--><!--/ko-->
	        </div>
	      </div>
	      <div class="running-readings-sublabel">Reactor / Cartridge A / B</div>
	    </div>
	   </div>
	  </div>
	</script>
