<script type="text/html" id="transfer-destination-popup-template">
  <div id="transfer-edit-destination-popup">
    <div class="destination" data-bind="with: Elixys.withDestination(destination, targetreactor, hplc.reagentpos)">
      <input type="radio" id="transfer-destination-reactor-1" name="destination" class="radio-option"
        data-bind="checked: destination, checkedValue: 'reactor0', enable: $parent.sourcereactor() !== 0 && $parent.mode() !== 'out',
                   event: { change: function() { selectReactor(0); } }"/>
      <label for="transfer-destination-reactor-1">Reactor 1</label>
      
      <input type="radio" id="transfer-destination-reactor-2" name="destination" class="radio-option"
        data-bind="checked: destination, checkedValue: 'reactor1', enable: $parent.sourcereactor() !== 1 && $parent.mode() !== 'out',
                   event: { change: function() { selectReactor(1); } }"/>
      <label for="transfer-destination-reactor-2">Reactor 2</label>
      
      <input type="radio" id="transfer-destination-reactor-3" name="destination" class="radio-option"
        data-bind="checked: destination, checkedValue: 'reactor2', enable: $parent.sourcereactor() !== 2 && $parent.mode() !== 'out',
                   event: { change: function() { selectReactor(2); } }"/>
      <label for="transfer-destination-reactor-3">Reactor 3</label>
      
      <input type="radio" id="transfer-destination-collection-vial" name="destination" class="radio-option"
        data-bind="checked: destination, checkedValue: 'collection vial', event: { change: selectCollectionVial }"/>
      <label for="transfer-destination-collection-vial">Collection Vial</label>


      <input type="radio" id="transfer-destination-hplc" name="destination" class="radio-option"
        data-bind="checked: destination, checkedValue: 'hplc', event: { change: selectHplc }"/>
      <label for="transfer-destination-hplc">HPLC Loop</label>
    </div>

    <!-- removed some elements of older hplc pop up (joshua.thompson@sofiebio.com 12/4/2014 (see archive folder for old copy) -->
      <!--
      <div class="hplc" data-bind="css { disabled: destination() !== 'hplc' }">

      <div class="hplc-mode">
        <span class="operation-field-header">MODE</span>
        <div class="operation-container">
          <input type="radio" id="hplc-mode-manual" name="hplc-mode" class="radio-option"
            data-bind="checked: hplc.mode, checkedValue: 'manual', enable: destination() === 'hplc'"/>
          <label for="hplc-mode-manual" class="operation-number">Manual</label>
        </div>
        <div class="operation-container">
          <input type="radio" id="hplc-mode-automatic" name="hplc-mode" class="radio-option"
            data-bind="checked: hplc.mode, checkedValue: 'automatic', enable: destination() === 'hplc'"/>
          <label for="hplc-mode-automatic" class="operation-number">Automatic</label>
        </div>
        <br/>
        <span>Method of Hplc control</span>
        <hr class="operation-separator"/>
      </div>


    </div>
    -->

  </div>
</script>