<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sofie Biosciences</title>

    <style>
        .customer-header div, .customer-info div {
            float: left;
        }

        .customer-header div {
            font-weight: bold;
        }

        .create-customer-header div {
            font-weight: bold;
            margin-bottom: 30px;
        }

        .customer-version, .customer-update-available {
            margin-left: 50px;
        }

    </style>
</head>
<body>
<h1>Sofie Biosciences Software Deployment Platform</h1>

<!----Creat new customer site--->
<div class="create-customer-header">
    <div class="creat_customer_button">Create Site</div>

</div>

<!----Customer sites header----->
<div class="customer-header">
    <div class="customer-name">SITE</div>
    <div class="customer-version">VERSION</div>
    <div class="customer-update-available">UPDATE</div>
</div>

<br>

<!----Customer sites info------>
<div class="customer-info">
    <div class="customer-name">MSKCC</div>
    <div class="customer-version">1.2.8</div>
    <div class="customer-update-available">NONE</div>
</div>
</body>
</html>