<script type="text/html" id="fluidgascalibrate-template">	

<!-- Liquid Sensor -->  
	<div class="calibrate-section liquidsensor-container" data-bind="with: liquidSensorCalibration">
		<span class="calibration-header">Liquid Sensor</span>
		<div class="wireframe-button" data-bind="visible: true, click: calibrateLiquidSensor, text: liquid_calibration_status()"></div>
		<div class="wireframe-button right-button" data-bind="text: 'CANCEL', click: cancel"></div>
			  <span class="calibration-readout top-margin-20">Detected&#58;&nbsp;
				  <!--ko text: monitor.state.liquid_sensor.value--><!--/ko-->
			  </span>
			  
			  <span class="calibration-readout action-text">
			  	  <!--ko text: liquid_calibration_message()--><!--/ko-->&nbsp;
			  </span>
	  </div>
</script>
