/*Sofie Software Deployment Styling*/


/***Main Page - show customer sites version ***/

.customer-header {
    float: left;
    font-weight: bold;
}


.create-customer-header {
    font-weight: bold;
    margin-bottom: 30px;
}

.customer-header  ul,
.customer-info ul {
    list-style-type: none;
    clear: both;
    padding-left: 0;
    -webkit-padding-start: 0;
}

.customer-header  ul li,
.customer-info ul li {
    width: 150px;
    display: inline-block;
}