<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deployment Login</title>
</head>
<body>

<p>----SofieBio Software Deployment Login----</p>

<form action="/login" method="post">
  Username<br>
  <input type="text" name="username" value="Username">
  <br>
  Password<br>
  <input type="password" name="password" value="">
  <br><br>
  <input type="submit" value="Submit">
</form>

<p>----Create New User----</p>

<form action="/new_user" method="post">
    Username
    <br>
    <input type="text" name="username" value="Username">
    <br>
    Email
    <br>
    <input type="text" name="email" value="email">
    <br>
    Password
    <br>
    <input type="password" name="password" value="">
    <br><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>