<div class="running-readings-row stir-readings">
    <div class="running-readings-label" data-bind="text:reactor + ' Stir'"></div>
    <div class="running-readings-value stirreduced running-readings-large-text" data-bind="text: currentMotorSpeed() == 0 ? 'Off' : 'On'"></div>
        <input type="radio" class="radio-option no-border"
                data-bind="checked:currentMotorSpeed() == 0 ? 'Off' : 'On',
                           enable: enabled(),
                           attr: {'name': reactor}"
                value="On"
                />
        <label for="add-stir-yes" class="operation-bool-text clickable" data-bind="click: setStirState.bind( $data, reactor, 0)">On</label>


        <input type="radio" name="target_stir" class="radio-option no-border"
                data-bind="checked:currentMotorSpeed() == 0 ? 'Off' : 'On',
                           enable: enabled(),
                           attr:{'name': reactor}"
                value="Off"
                />
        <label for="add-stir-no" class="operation-bool-text clickable"
               data-bind="click: setStirState.bind( $data, reactor, 1.5),
                          attr:{'for': reactor}">Off</label>

    
</div>