<script type="text/html" id="evaporate-template">
<div class="operation-header">
<div data-bind="text: order"></div>
<span>EVAPORATE</span>
</div>
  <div id="evaporatefields" class="operation-container" data-bind="with: dataWithValidators">
    <div class="reactor">
      <span class="operation-field-header">REACTOR</span>
      <span class="operation-invalid" data-bind="visible: !reactor_valid()">*</span>
      <div>
        <input type="radio" id="evaporate-reactor-3" name="reactor" class="radio-option" data-bind="checked: reactor, checkedValue: 2"/>
        <label for="evaporate-reactor-3" class="operation-number">3</label>
      </div>
      <div>
        <input type="radio" id="evaporate-reactor-2" name="reactor" class="radio-option" data-bind="checked: reactor, checkedValue: 1"/>
        <label for="evaporate-reactor-2" class="operation-number">2</label>
      </div>
      <div>
        <input type="radio" id="evaporate-reactor-1" name="reactor" class="radio-option" data-bind="checked: reactor, checkedValue: 0"/>
        <label for="evaporate-reactor-1" class="operation-number">1</label>
      </div>
      <br/>
      <span>Reactor whose contents will be evaporated</span>
      <hr class="operation-separator"/>
    </div>
    <div class="temp">
      <span class="operation-field-header">TEMP</span>
      <numeric-input params="value: evaporationtemperature, min: 30, max: 180, maxlength: 3"></numeric-input>
      <br/>
      <span>Evaporation temperature (C)</span>
      <hr class="operation-separator"/>
    </div>
    <div class="duration">
      <span class="operation-field-header">DURATION</span>
      <span class="operation-invalid" data-bind="visible: !evaporationduration_valid()">*</span>
      <timer-input params="value: evaporationduration"></timer-input>
      <br/>
      <span>Evaporation duration after target temp reached</span>
      <hr class="operation-separator"/>
    </div>
    <div class="cooltotemp">
      <span class="operation-field-header">COOL TO TEMP</span>
      <span class="operation-invalid" data-bind="visible: !finaltemperature_valid()">*</span>
      <numeric-input params="value: finaltemperature, min: 30, max: 180, maxlength: 3"></numeric-input>
	  <span class="cool-delay-override">
	    <span>Override cooling delay</span>
	     <label>
		 <input type="checkbox" value="coolduration" data-bind="checked: coolduration"/>
              <span class="glyphicon needsclick" data-bind="css { 'glyphicon-ok': coolduration }"></span>
	     </label>
	  </span>
      <br/>
      <span>Final temperature (C)</span>
    </div>
    <div class="pressure">
      <span class="operation-field-header">PRESSURE</span>
      <span class="operation-invalid" data-bind="visible: !pressure_valid()">*</span>
      <numeric-input params="value: evaporationpressure, min: 0, max: 30, maxlength: 3"></numeric-input>
      <br/>
      <span>Pressure to use while evaporating (PSI)</span>
      <hr class="operation-separator"/>
    </div>
    <div class="stir">
      <span class="operation-field-header">STIR</span>
      <span class="operation-invalid" data-bind="visible: !stir_valid()">*</span>
      <div>
        <input type="radio" id="evaporate-stir-no" name="stir" class="radio-option no-border" data-bind="checked: stir, checkedValue: 0"/>
        <label for="evaporate-stir-no" class="operation-bool-text">No</label>
      </div>
      <div class="operation-bool-separator">/</div>
      <div>
        <input type="radio" id="evaporate-stir-yes" name="stir" class="radio-option no-border" data-bind="checked: stir, checkedValue: 1"/>
        <label for="evaporate-stir-yes" class="operation-bool-text">Yes</label>
      </div>
      <div>
        <input type="button" class="stir-edit-button" value="Edit"
          data-bind="enable: stir,
                     click: function() { Elixys.showTemplatedPopup('evaporate-stir-popup-template', $parent.dataWithValidators, 'evaporate-edit-stir'); }"/>
      </div>
      <br/>
      <span>Stir while evaporating</span>
      <hr class="operation-separator"/>
    </div>
    <div class="message">
      <span class="operation-field-header">MESSAGE</span>
      <span class="operation-invalid" data-bind="visible: !message_valid()">*</span>
      <br/>
      <textarea class="operation-message" placeholder="Click to type" data-bind="textInput: message" rows="7"/>
    </div>
  </div>
</script>
