<script type="text/html" id="react-stir-popup-template">
  <div id="react-edit-stir-popup">
    <div class="stirdelay">
      <span class="operation-field-header">STIR DELAY</span>
      <span class="operation-invalid" data-bind="visible: !stirdelay_valid()">*</span>
      <timer-input params="value: stirdelay, max: reactionduration() - durationofstir()"></timer-input>
      <br/>
      <span>Time at which stirring starts</span>
      <hr/>
    </div>
    <div class="stirduration">
      <span class="operation-field-header">STIR DURATION</span>
      <span class="operation-invalid" data-bind="visible: !durationofstir_valid()">*</span>
      <timer-input params="value: durationofstir, max: reactionduration() - stirdelay()"></timer-input>
      <br/>
      <span>Cannot exceed unit operation time minus delay</span>
        <hr/>
    </div>
  </div>
</script>