<script type="text/html" id="transfer-stir-popup-template">
  <div id="transfer-edit-stir-popup">
    <div class="stirspeedsource">
      <span class="operation-field-header">STIR SOURCE</span>
        <div>
          <input type="radio" id="stir-speed-source-no" name="stirspeedsource" class="radio-option no-border" data-bind="checked: stirspeedsource, checkedValue: 0"/>
          <label for="stir-speed-source-no" class="operation-bool-text">No</label>
        </div>
        <div class="operation-bool-separator">/</div>
        <div>
          <input type="radio" id="stir-speed-source-yes" name="stirspeedsource" class="radio-option no-border" data-bind="checked: stirspeedsource, checkedValue: 500"/>
          <label for="stir-speed-source-yes" class="operation-bool-text">Yes</label>
        </div>
      </span>
      <hr/>
    </div>
    <div class="stirspeed" data-bind="visible: destination() === 'reactor'">
      <span class="operation-field-header">STIR TARGET</span>
      <div>
        <input type="radio" id="stir-speed-target-no" name="stirspeedtarget" class="radio-option no-border" data-bind="checked: stirspeedtarget, checkedValue: 0"/>
        <label for="stir-speed-target-no" class="operation-bool-text">No</label>
      </div>
      <div class="operation-bool-separator">/</div>
      <div>
        <input type="radio" id="stir-speed-target-yes" name="stirspeedtarget" class="radio-option no-border" data-bind="checked: stirspeedtarget, checkedValue: 500"/>
        <label for="stir-speed-target-yes" class="operation-bool-text">Yes</label>
      </div>
      <hr/>
    </div>
  </div>
</script>