/*Sofie Software Deployment Styling*/


/***Main Page - show customer sites version ***/

.customer-header div, .customer-info div {
            float: left;
        }

        .customer-header div {
            font-weight: bold;
        }

        .create-customer-header div {
            font-weight: bold;
            margin-bottom: 30px;
        }

        .customer-name, .customer-version, .customer-update-available, .customer-prev-download {
            width: 150px;
        }