<script type="text/html" id="camera-template">

<div id="camera0" class="camera">
  <div class="cameras-container">
      <div class="running-camera camera-1">
        <div class="running-camera-label">1</div>
          <video class="running-video" data-bind="attr: { src: videoUrl_0 }, style: { left: camera0_position() }, click: Elixys.playVideo" width="514" height="385" autoplay>
            Your browser cannot play this video.
          </video>
      </div>
    <div class="clear"></div>
  </div>
</div>

<div id="camera1" class="camera">
  <div class="cameras-container">
      <div class="running-camera camera-1">
        <div class="running-camera-label">2</div>
		  <video class="running-video" data-bind="attr: { src: videoUrl_1 }, style: { left: camera1_position() }, click: Elixys.playVideo" width="514" height="385" autoplay>
			Your browser cannot play this video.
		  </video>
      </div>
    <div class="clear"></div>
  </div>
</div>

<div id="camera2" class="camera">
  <div class="cameras-container">
      <div class="running-camera camera-1">
        <div class="running-camera-label">3</div>
		  <video class="running-video" data-bind="attr: { src: videoUrl_2 }, style: { left: camera2_position() }, click: Elixys.playVideo" width="514" height="385" autoplay>
			Your browser cannot play this video.
		  </video>
      </div>
    <div class="clear"></div>
  </div>
</div>

</script>