<script type="text/html" id="edit-sequence-template">
  <div class="mainpane" data-bind="sidebarToggle: isSidebarVisible()">
   <div data-bind="template: { afterRender: postRender() }"></div>
    <div class="top-header">
      <div class="sectionHeader">EDIT</div>

      <label class="sequence-button" data-bind="css: { 'selected-sequence-button': activeTemplate() === 'cassettes-template' }">
        <input type="radio" name="edit-sequence" class="radio-option"
          data-bind="checked: activeTemplate, checkedValue: 'cassettes-template'"/>
        CASSETTES
      </label>
      <label class="sequence-button" data-bind="css: { 'selected-sequence-button': activeTemplate() === 'operations-template' }">
        <input type="radio" name="edit-sequence" class="radio-option"
          data-bind="checked: activeTemplate, checkedValue: 'operations-template'"/>
        OPERATIONS
      </label>

      <div id="edit-sequence-name"
        data-bind="text: currentSequence() == null || currentSequence().details == null ? '' : currentSequence().details.name"></div>
    </div>

    <ul class="bottom-pane" id="drag-drop-menu">
      <li id="delete-container">
        <div id="delete" data-bind="droppable: dragDropManager.deleteArea,
                                    click: dragDropManager.deleteTask,
                                    attr: {'class': dragDropManager.deleteArea.className() }">
          <img src="static/operations-icons/delete-operation-icon.png"/>
          DELETE
        </div>
      </li>

      <li class="outer-drop-container">
        <div data-bind="visible: dragDropManager.taskPane.leftArrow.visible()" class="arrow arrow-left" id="leftArrowPointer">&lt;</div>
        <div data-bind="visible: dragDropManager.taskPane.rightArrow.visible()" class="arrow arrow-right" id="rightArrowPointer">&gt;</div>
        <div class="sequencer-text" data-bind="visible: dragDropManager.taskSequence().length < 1">Sequencer</div>
        <div data-bind="droppable: dragDropManager.addTaskArea" class="drop-container" id="timelineContainer">
          <div data-bind="foreach: dragDropManager.taskSequence,
                          style: { width: dragDropManager.taskPane.scrollWidth() }" >
            <div data-bind="draggable: $parent.dragDropManager.selectedOptionsDrag,
                            attr: { 'class': className, 'style': 'visibility: '+ visibility() },
                            event: { 'touchstart': mouseDown,
                                     'mousedown' : mouseDown,
                                     'mouseUp': mouseUp,
                                     'touchend' : $parent.dragDropManager.toggleSelectedOption,
                                     'click' : $parent.dragDropManager.toggleSelectedOption}">
              <div data-bind="attr: {'class': imageClass() }"></div>
              <span class="task-content" data-bind="text: name"></span>
              <div class="operation-reagent-name" data-bind="text: Elixys.truncate(reagent, 14)"></div>
              <div class="operation-validation-error" data-bind="visible: !isValid()">!</div>
            </div>
          </div>
        </div>
      </li>
    </ul>
	
	<div class="timline-numbering">
	</div>

    <div data-bind="template: activeTemplate"></div>
  </div>
</script>
