<script type="text/html" id="notification-popup-template">
  <div data-bind="visible: visible()" class="notification-popup popup">
    <div class="notification-popup-box popup-box">
      <div data-bind="visible: showCloseButton(), click: close" class="popup-box-close-button">X</div>
      <div class="connection-error-text center-align-wrapper">
        <div data-bind="truncatedText: message, maxTextLength: 65" class="center-align-content"></div>
      </div>
      <div data-bind="visible: confirmCallback() === undefined ? false : true" class="popup-box-buttons-container">
        <div data-bind="click: confirm, text: confirmText" class="popup-box-button"></div>
        <div data-bind="click: close, text: cancelText" class="popup-box-button"></div>
        <div data-bind="visible: showOtherButton(), click: other, text: otherText" class="popup-box-button"></div>
      </div>
    </div>
  </div>
</script>
