<script type="text/html" id="pre-run-checklist-template">
  <div class="mainpane" data-bind="sidebarToggle: isSidebarVisible()">
      <div data-bind="template: { afterRender: postRender() }"></div>
    <div class="top-header">
      <div class="sectionHeader">PRE-RUN CHECKLIST</div>
      <div id="edit-sequence-name" data-bind="text: currentSequence() ==
      null ? '' : currentSequence().details.name"></div>
    </div>
	<div class="pre-run-checklist">
      
<!-- Checklist section 1 -->
	
	<div class="checklist-section-dark">
	  <div class="checklist-fields"> 
	    <div class="checklist-row">
          <div class="checklist-cell checklist-header">
            <p class="checklist-label">1. Record run name:</p>
          </div>
		  <div class="checklist-cell checklist-input">
            <span class="invalid-mark" data-bind="visible: runNameInvalid">*</span>
            <input placeholder="Run name or number" maxlength="1024" data-bind="textInput: runName"/><br/>
            <input placeholder="Run description" maxlength="255" data-bind="textInput: runDescription"/>
          </div>
        </div>
	  </div>
	</div>
	  
	  
<!-- Checklist section 2 -->

      <div class="checklist-header">
        <p class="checklist-label">2. Insert the following reagent vials into the correct locations on the
        proper cassettes.<br/>Record lot numbers in the fields to the right:
		</p>
	  </div>
      <div class="checklist-fields" data-bind="foreach: reagents">
        <div class="checklist-row">
          <div class="checklist-cell reagent-checklist">
            <label>
              <input type="checkbox" data-bind="checked: checked"/>
              <span class="glyphicon needsclick" data-bind="css { 'glyphicon-ok': checked }"></span>
              <!--ko text: Elixys.truncate(name, 36)--><!--/ko-->
              <span class="invalid-mark" data-bind="visible: markedInvalid">*</span>
            </label>
          </div>
          <div class="checklist-cell">
            Cassette <!--ko text: cassette--><!--/ko--> - Position <!--ko text: position--><!--/ko-->
          </div>
          <div class="checklist-cell checklist-input">
            <input placeholder="Lot number" maxlength="100" data-bind="numeric: lotNumber, textInput: lotNumber" type="number" />
            <input placeholder="Description" maxlength="255" data-bind="textInput: description"/>
          </div>
        </div>
      </div>
	  
	  
<!-- Checklist section 3 -->

      <div class="checklist-header">
        <p class="checklist-label">3. Insert cassettes into Elixys, lock down with clips, and record lot numbers in the fields to the right:
		</p>
      </div>
      <div class="checklist-fields" data-bind="foreach: cassettes">
        <div class="checklist-row">
          <div class="checklist-cell">
            <label>
              <input type="checkbox" data-bind="checked: checked"/>
              <span class="glyphicon needsclick" data-bind="css { 'glyphicon-ok': checked }"></span>
              Cassette <!--ko text: number--><!--/ko-->
              <span class="invalid-mark" data-bind="visible: markedInvalid">*</span>
            </label>
          </div>
          <div class="checklist-cell checklist-input">
            <input placeholder="Lot number" maxlength="100" data-bind="textInput: lotNumber" type="number" />
          </div>
        </div>
      </div>
      
	  
<!-- Checklist section 4 -->

     <div class="checklist-section-dark">
	  <div class="checklist-header">
        <p class="checklist-label">4. Complete the following steps:
		</p>
      </div>
      <div class="checklist-fields">
        <div class="checklist-row">
          <div class="checklist-cell">
            <label class="checklist-step" data-bind="with: steps[0]">
              <input type="checkbox" data-bind="checked: checked"/>
              <span class="glyphicon needsclick" data-bind="css { 'glyphicon-ok': checked }"></span>
              Ensure sufficient nitrogen supply is connected (>60psig)
              <span class="invalid-mark" data-bind="visible: markedInvalid">*</span>
            </label>
          </div>
          <div class="checklist-cell">
            <label class="checklist-step" data-bind="with: steps[1]">
              <input type="checkbox" data-bind="checked: checked"/>
              <span class="glyphicon needsclick" data-bind="css { 'glyphicon-ok': checked }"></span>
              Connect tubing from cassettes to each other and/or HPLC injector
              valve as applicable
              <span class="invalid-mark" data-bind="visible: markedInvalid">*</span>
            </label>
          </div>
        </div>
        <div class="checklist-row tall-row">
          <div class="checklist-cell">
            <label class="checklist-step" data-bind="with: steps[2]">
              <input type="checkbox" data-bind="checked: checked"/>
              <span class="glyphicon needsclick" data-bind="css { 'glyphicon-ok': checked }"></span>
              Prepare cold trap
              <span class="invalid-mark" data-bind="visible: markedInvalid">*</span>
            </label>
          </div>
          <div class="checklist-cell">
            <label class="checklist-step" data-bind="with: steps[3]">
              <input type="checkbox" data-bind="checked: checked"/>
              <span class="glyphicon needsclick" data-bind="css { 'glyphicon-ok': checked }"></span>
              Ensure all HPLC components are initialized and ready for use
              <span class="invalid-mark" data-bind="visible: markedInvalid">*</span>
            </label>
          </div>
        </div>
        <div class="checklist-row tall-row">
          <div class="checklist-cell">
            <label class="checklist-step" data-bind="with: steps[4]">
              <input type="checkbox" data-bind="checked: checked"/>
              <span class="glyphicon needsclick" data-bind="css { 'glyphicon-ok': checked }"></span>
              Insert reactor vials with stir bar
              <span class="invalid-mark" data-bind="visible: markedInvalid">*</span>
            </label>
          </div>
          <div class="checklist-cell">
            <label class="checklist-step" data-bind="with: steps[5]">
              <input type="checkbox" data-bind="checked: checked"/>
              <span class="glyphicon needsclick" data-bind="css { 'glyphicon-ok': checked }"></span>
              Prepare source activity (or connect to beam line)
              <span class="invalid-mark" data-bind="visible: markedInvalid">*</span>
            </label>
          </div>
        </div>
		<div class="checklist-row">
          <div class="checklist-cell">
            <div class="checklist-button" data-bind="click: selectAll">Select All</div>
            <div class="checklist-button" data-bind="click: clearAll">Clear All</div>
        </div>
		</div>
	  </div>
	  </div>
	  
	  

<!-- Checklist section 5 -->
	  
	  <div class="checklist-header">
      <p class="checklist-label">5. Verify video feeds:
	  </p>
	  </div>
	  <div class="checklist-fields">
		<div class="camera-status-feed">
			<div class="running-camera pre">
        		<div class="running-camera-label">1</div>
        		<video class="running-video" data-bind="attr: { src: videoUrl_0() }, style: { left: camera0_position() }" width="514" height="385" autoplay>
                    Your browser cannot play this video.
        		</video>
        		</div>
				  <div class="video-controls-container">
				  <div class="vlc-button" data-bind="click: resetVideo_0, text: resetMessage_0">RESET FEED 1</div>
				  </div>
			</div>
		<div class="camera-status-feed">
			<div class="running-camera pre">
        		<div class="running-camera-label">2</div>
        		<video class="running-video" data-bind="attr: { src: videoUrl_1() }, style: { left: camera1_position() }" width="514" height="385" autoplay>

                    Your browser cannot play this video.
        		</video>
        		</div>
				  <div class="video-controls-container">
				  <div class="vlc-button" data-bind="click: resetVideo_1, text: resetMessage_1">RESET FEED 2</div>
				  </div>
			</div>
		<div class="camera-status-feed">
			<div class="running-camera pre">
        	<div class="running-camera-label">3</div>
        	<video class="running-video" data-bind="attr: { src: videoUrl_2() }, style: { left: camera2_position() }" width="514" height="385" autoplay>
        	Your browser cannot play this video.
        	</video>
        	</div>
			  <div class="video-controls-container">
			  <div class="vlc-button" data-bind="click: resetVideo_2, text: resetMessage_2">RESET FEED 3</div>
			  </div>
			</div>
	  </div>
	  
<!-- checklist footer -->

      <div class="checklist-section-dark">
        <div class="checklist-row">
          <div class="checklist-cell">
			<div class="checklist-button" data-bind="click: back">Back</div>
            <div class="checklist-button" data-bind="click: continueButton">Continue</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
