<script type="text/html" id="two-button-popup-template">
  <div>
    <div data-bind="visible: visible()" class="new-sequence-popup popup">
      <div class="new-sequence-box popup-box" id="export-sequence-popup">
        <div data-bind="click: close" class="popup-box-close-button">X</div>
        <div class="new-sequence-title center-align-wrapper">
          <div data-bind="text: titleText" class="center-align-content"></div>
        </div>
        <div class="export-sequence-buttons">
          <button data-bind="click: btnAClick, text: btnAText" class="new-sequence-create-button"></button>
          <button data-bind="click: btnBClick, text: btnBText" class="new-sequence-create-button"></button>
        </div>
      </div>
    </div>
  </div>
</script>